body {
    background: rgb(172, 183, 189);
}

.search-btn {
    cursor: pointer;
}

/* SEARCH RESULTS LIST */
/* .search-results {
    list-style: none;
    list-style-position: outside;
} */
.current-weather-items {
}

.hide {
    display: none;
}